/** Customization of the @dom-native/ui look and feel */


:root {
	--d-field-bkg: var(--bkg-60);
	--d-field-bdr: none;

	--d-field-input: var(--txt-60);
}



d-input {
	min-height: 2.75rem;

	&.no-label {
		grid-template-rows: 0 1fr;
	}

	&::part(box) {
		border-radius: 6px;
	}
}

d-check svg {
	fill: var(--ico) !important;
}