h1 {
	font-size: 1.25rem;
}

h2 {
	font-size: 1.125rem;
}

h3 {
	font-size: 1rem;
	font-weight: 300;
}

/* For this app, the default size will be 1.25rem */
d-ico {
	height: 1.25rem;
	width: 1.25rem;
	fill: var(--ico);

	&.action {
		cursor: pointer;
		&:hover {
			fill: var(--ico-prime);
		}
		&:active {
			filter: brightness(1.2);
		}
	}
}

label.delete {
	color: var(--txt-red);
}