@import './var-colors.pcss';
@import './base.pcss';
@import './defaults.pcss';

@import '@dom-native/ui/pcss/all.pcss';
@import './d-ui.pcss';

/* --- Components */
@import './view/menu-c.pcss';

/* --- Views */
@import './view/app-v.pcss';
@import './view/nav-v.pcss';
@import './view/project-v.pcss';
@import './view/tasks-dt.pcss';



