menu-c {
	position: absolute;
	z-index: 100;

	background: var(--bkg);
	border: solid 1px var(--bdr-60);
	box-shadow: var(--d-elev-03-shadow);
	border-radius: 5px;
	display: grid;

	grid-auto-rows: minmax(2rem, auto);
	align-items: center;

	& > li {
		cursor: pointer;
		display: grid;
		padding: .25rem 1rem;

		&:hover {
			background: var(--bkg-hover)
		}
	}
}